@import "tailwindcss";

@font-face {
  font-family: 'Lyon';
  src: url('/fonts/Lyon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url('/fonts/IBMPlexSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-lyon: "Lyon", serif;
  --font-ibm: "IBM", sans-serif;
  --color-primary: #0a1d37;
  --color-secondary: #050f1d;
  --color-accent: #c5a059;
}

body {
  font-family: var(--font-ibm);
  background-color: var(--color-secondary);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lyon);
}
